/* Sidebar.css */
.sidebar {
    width: 200px;
    height: 90%;
    background-color:#F5F5DC;
    color: #f7f4f4;
    position: fixed;
    top: 78px;
    left: 0;
    font-weight: bold;
    overflow-x: hidden;
    padding-top: 10px;
    
  }
  .sidebar a{
    text-decoration:  none;
  }
  .sidebar ul {
    text-align: left;
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    color:rgb(0, 0, 0);
    padding: 10px 15px;
    cursor: pointer;
  }
  
   .sidebar li:hover {
    background-color: #b4d0df;
    
  } 
  .log{
    font-family: 'Times New Roman', Times, serif;
}
.txt{
  text-align:center
}
  